
<button mat-button>Add New</button><br/><br/>
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.Role }}</td>
      </ng-container>
      <ng-container matColumnDef="Registration Number">
        <th mat-header-cell *matHeaderCellDef>RegistrationNumber</th>
        <td mat-cell *matCellDef="let element">
          {{ element.RegistrationNumber }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Mobile Number">
        <th mat-header-cell *matHeaderCellDef>MobileNumber</th>
        <td mat-cell *matCellDef="let element">{{ element.MobileNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="Degree">
        <th mat-header-cell *matHeaderCellDef>Degree</th>
        <td mat-cell *matCellDef="let element">{{ element.Degree }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
