<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]= "" [label]="'Total Users!'">{{dashboard.totalUser}}</app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="" [label]="'Total Patients!'">{{dashboard.totalPatient}}</app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="" [label]="'Total Tests!'">{{dashboard.totalTest}}</app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="" [label]="'New Tickets!'">{{dashboard.totalTest}}</app-stat>
    </div>
</div>

